/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
 
  --background: #f0f0f0;
  --card: #ffffff;
  --foreground: #333;
  --input: #f9f9f9;
  --ring: #333;
  --primary: #007bff;
  --primary-foreground: #ffffff;
  --border: #ccc;
  --muted-foreground: #666;
  --footer: #333;
}

/* Modo oscuro */
.dark-mode {
  --background: #333;
  --card: #444;
  --foreground: #ddd;
  --input: #555;
  --ring: #888;
  --primary: #888;
  --primary-foreground: #ddd;
  --border: #888;
  --muted-foreground: #aaa;
  --footer: #ddd;
}

/* Estilos del body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  align-items: center;
}

/* Estilos del header */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: var(--background);
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.logo {
  width: 50px;
  height: auto;
}

.title {
  color: var(--foreground);
  font-size: 1.25rem;
  text-align: center;
  margin: 10px 20px;
}

/* Contenedor principal */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card);
  padding: 16px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

/* Secciones de entrada y salida */
.input-section, .output-section {
  background-color: var(--card);
  padding:  16px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  box-sizing: border-box;
  color: var(--foreground);
  font-weight: bold;
 
}

/* Estilo del texto de salida */
.output-text {
  color: var(--foreground);
  font-weight: bold;
  padding-bottom: 20px;
}

/* Estilo de los encabezados */
h2 {
  color: var(--foreground);
  font-size: 1rem;
}

/* Estilo del área de texto */
textarea {
  width: 95%;
  height: 150px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--input);
  color: var(--foreground);
  transition: box-shadow 0.3s;
  box-sizing: border-box;
}

/* Estilo cuando el área de texto está en foco */
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring);
}

/* Información adicional */
.info {
  color: var(--muted-foreground);
  margin-bottom: 8px; 
}

/* Estilo de los botones */
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* Botones específicos */
#encrypt-btn, #decrypt-btn, #copy-btn, #theme-toggle-btn {
  border: 1px solid var(--border);
  background-color: var(--primary);
  color: var(--primary-foreground);
}

#encrypt-btn:hover, #decrypt-btn:hover, #copy-btn:hover , #theme-toggle-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--foreground);
  font-weight: bold;
}

/* Imagen en la sección de salida */
img.section-output {
  width: 140px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos del historial */
.history-section {
  background-color: var(--card);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 20px auto;
  color: var(--foreground);
}

#history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#history-list li {
  border-bottom: 1px solid var(--border);
  padding: 8px 0;
}

#history-list li:last-child {
  border-bottom: none;
}
/* Estilos de acerca del proyecto */

.about-section {
  background-color: var(--card);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 20px auto;
  color: var(--foreground);
  font-size: small;
}

.about-section h2 {
  color: var(--primary);
  font-size: 0.9rem;
}
.about-section p {
  margin: 8px 0 0;
  font-size: smaller;
  font-weight: bolder;
}


/* Estilos del footer */
footer {
  width: 100%;
  text-align: center;
  padding: 16px;
  background-color: var(--background);
  color: var(--footer);
}

/* Media Queries */
@media (min-width: 768px) {
  .header-nav {
    padding: 0 20px;
  }

  .title {
    font-size: 1.125rem;
  }

  .container {
    flex-direction: row;
    
    height: 80vh;
    margin: 20px auto;
  }

  .input-section, .output-section {
    flex: 1;
    margin: 0 10px;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header-nav {
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 30px;
  }

  .title {
    font-size: 1rem;
  }

  .container {
    flex-direction: column;
    padding: 8px;
  }

  .input-section, .output-section {
    width: 100%;
    margin: 10px 10px;
  }
}

span {
  color: var(--footer);
  font-weight: bold;
}